work/
results/
logs/
.DS_Store
*.pyc
.vscode
.nextflow*
bin/test_*
data/BY4742-archive/
data/reads
data/genome/BY4742-genome
data/genome/syn-yeast-genome
results/salmon-quant
testdata/salmon-quant
testdata/split-salmon-quant
testdata/syn-transcriptome.gff
data/genome/wt-syn-chr11-genome