// your workflow parameters
params {

  // general
  resultsDir = "./results/"
  samplesheet = ""
  
  // genome files
  reference.wt = "data/BY4742-genome/contigs/BY4742.chr11.fasta"
  reference.syn = "data/synthetic_yeast/contigs/yeast_chr11_3_39.ref.fasta"
  annotation.wt = "data/BY4742-genome/annotation/BY4742.chr11.gff"
  annotation.syn = "data/synthetic_yeast/annotation/yeast_chr11_3_39.ref.gff"

}

// include basic process configuration options
includeConfig 'conf/base.config' 
