// your workflow parameters
params {

  // general
  resultsDir = "./results/"
  samplesheet = "data/metadata/samplesheet.csv"
  
  // source genome files
  reference_wt = "data/genome/BY4742-genome/BY4742.fasta"
  annotation_wt = "data/genome/BY4742-genome/BY4742.gff"
  reference_syn = "data/genome/syn-yeast-genome/contigs/yeast_chr11_3_39.ref.fasta"
  annotation_syn = "data/genome/syn-yeast-genome/annotation/yeast_chr11_3_39.ref.gff"

  // combined genome files
  reference = "data/genome/wt-syn-genome/wt-syn-chr11-ref.fasta"
  annotation = "data/genome/wt-syn-genome/wt-syn-chr11-ref.gff"

  // TRIM_READS parameters
  fastp.args = ""

}

// include basic process configuration options
includeConfig 'conf/base.config' 
