// your workflow parameters
params {

  // general
  resultsDir = "./results/"
  samplesheet = "data/metadata/samplesheet.csv"
  
  // source genome files
  reference_wt = "data/genome/BY4742-genome/BY4742.fasta"
  annotation_wt = "data/genome/BY4742-genome/BY4742.gff"
  reference_syn = "data/genome/syn-yeast-genome/contigs/yeast_chr11_3_39.ref.fasta"
  annotation_syn = "data/genome/syn-yeast-genome/annotation/yeast_chr11_3_39.ref.gff"

  // combined genome files
  genome.reference = "data/genome/wt-syn-genome/wt-syn-chr11-ref.fasta"
  genome.annotation = "data/genome/wt-syn-genome/wt-syn-chr11-ref.gff"

  // fastp parameters
  fastp.args = ""

  // STAR parameters
  star.sjdbOverhang = "100"
  star.genomeSAindexNbases = "14"
  star.alignIntronMax = "0"
  star.limitBAMsortRAM = "0"
  star.outBAMsortingBinsN = "50"

  // salmon parameters
  salmon.index.args = "--keepDuplicates"
  salmon.quant.libtype = "A"
  salmon.quant.args = "--writeUnmappedNames"

  // tximport parameters
  summarize_to_gene.counts_from_abundance = "no"
  summarize_to_gene.organism_db = ""

  // deseq2 parameters
  dge.lfc_threshold = ""
  dge.fdr = ""

}

// include basic process configuration options
includeConfig 'conf/base.config' 
